#
# This file tells `browserlist`-compatible software which browsers we support.
#
# SEE: https://github.com/ai/browserslist#readme
#

# FAQ: Resources for testing and learning:
#      - [Browslerlist Query Composition](https://github.com/browserslist/browserslist#query-composition)
#      - [Browslerlist String Online Test](http://browserl.ist/)
#      - In command line, run `npx browserlist`.
#      - In command line, run `npx browserlist '> last 2 versions'`.
> 0.5%
last 2 versions
Firefox ESR
not dead
