body {
  margin: 0;
  font-family: "Georgia", Times, serif;

  background: #333;
  color: #999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c-error {
  color: red;
  font-weight: bold;
}
