.editorconfig
.gitignore
Dockerfile
node_modules
/*.md
# RFE: Remove source files from `/dist/docs` and `/client/docs`, so all this can be reduced to just `docs`
/api/docs
/dist/docs/api
/dist/docs/client
/client/docs/js
/client/docs/css
