/*
Layout

These are the global layout properties. Examples:

- border
- page dimension

Styleguide Settings.CustomProperties.Layout
*/

:root {
/*
Border

These are the global border properties.

> Example code and better formatting are pending [Framework, Typography and Color support](https://github.com/kss-node/kss-node/issues/388) or a creative but simple workaround.

--global-layout--border-width - 1px
--global-layout--border-width--thick - 3px
--global-layout--border-width--x-thick - 6px
--global-layout--border-style - solid
--global-layout--border-radius - 3px

Styleguide Settings.CustomProperties.Layout.Border
*/

  --global-layout--border-width: 1px;
  --global-layout--border-width--thick: 3px;
  --global-layout--border-width--x-thick: 6px;
  --global-layout--border-style: solid;
  --global-layout--border-radius: 3px;

/*
Miscellaneous

These are miscellaneous global layout properties.

> Example code and better formatting are pending [Framework, Typography and Color support](https://github.com/kss-node/kss-node/issues/388) or a creative but simple workaround.

--global-layout--line-height - 1.5

Styleguide Settings.CustomProperties.Layout.Misc
*/
  --global-layout--line-height: 1.5;
}

/* DO NOT ADD STYLES HERE; USE THE VARIABLES FOR STYLES IN OTHER STYLESHEETS */
