/*
Layout

These are the global layout properties. Examples:

- border
- page dimension

Styleguide Settings.CustomProperties.Layout
*/

:root {
/*
Border

These are the global border properties.

<small>Better formatting is pending [Framework, Typography and Color support](https://github.com/kss-node/kss-node/issues/388).</small>

--global-layout--border-width: 1px
--global-layout--border-width--thick: 3px
--global-layout--border-width--x-thick: 6px
--global-layout--border-style: solid
--global-layout--border-radius: 3px

Styleguide Settings.CustomProperties.Layout.Border
*/

  --global-layout--border-width: 1px;
  --global-layout--border-width--thick: 3px;
  --global-layout--border-width--x-thick: 6px;
  --global-layout--border-style: solid;
  --global-layout--border-radius: 3px;
}

/* DO NOT ADD STYLES HERE; USE THE VARIABLES FOR STYLES IN OTHER STYLESHEETS */
