
/* RFE: Make all of these environmental variables, instead! */

/*
Font

These are the global font properties.

Styleguide Settings.CustomProperties.Font
*/

:root {
/*
Sizes

These are the global font sizes.

<small>Better formatting is pending [Framework, Typography and Color support](https://github.com/kss-node/kss-node/issues/388).</small>

Markup:
<section class="c-sample" id="d-font-size">
  <div class="{{ modifier_class }}">I am font.</div>
</section>

--global-font-size--small: 1.4rem
--global-font-size--normal: 1.8rem
--global-font-size--large: 2.4rem
--global-font-size--x-large: 3.0rem
--global-font-size--xx-large: 3.8rem

Styleguide Settings.CustomProperties.Font.Sizes
*/
  /* FAQ: The ratio between each adjacent style is ~1.25 */
  --global-font-size--small: 1.4rem;
  --global-font-size--normal: 1.8rem;
  --global-font-size--large: 2.4rem;
  --global-font-size--x-large: 3.0rem;
  --global-font-size--xx-large: 3.8rem;

/*
Families

These are the global font families.

<small>Better formatting is pending [Framework, Typography and Color support](https://github.com/kss-node/kss-node/issues/388).</small>

Markup:
<section class="c-sample" id="d-font-size">
  <div class="{{ modifier_class }}">I am font.</div>
</section>

--global-font-family--primary: Georgia, Times, serif

Styleguide Settings.CustomProperties.Font.Families
*/
  --global-font-family--primary: Georgia, Times, serif;
}

/* DO NOT ADD STYLES HERE; USE THE VARIABLES FOR STYLES IN OTHER STYLESHEETS */
