<main class="c-sample" id="c-button">
  <div class="c-delimited-list {{modifier_class}}">
    <span class="c-delimited-list__item">Item A</span>
    <span class="c-delimited-list__item">Item B</span>
    <span class="c-delimited-list__item">Item C</span>
  </div>
  <nav class="c-delimited-list {{modifier_class}}">
    <a class="c-delimited-list__item" href="#">Link A</a>
    <a class="c-delimited-list__item" href="#">Link B</a>
    <a class="c-delimited-list__item" href="#">Link C</a>
  </nav>
</main>