<main class="c-sample" id="c-field">
  <form>
    <fieldset>
        <div class="c-field">
            <label for="c-forms--input--user">Username</label>
            <input id="c-forms--input--user" type="text" />
        </div>
        <div class="c-field">
            <label for="c-forms--input--pass">Password</label>
            <input id="c-forms--input--pass" type="password" />
            <label for="c-forms--input--pass-again">Re-type Password</label>
            <input id="c-forms--input--pass-again" type="password" />
        </div>
        <div class="c-field">
            <label for="c-forms--input--age">Age</label>
            <input id="c-forms--input--age" type="number" min="0" step="1" />
        </div>
    </fieldset>
  </form>
</main>