/*
Introduction

An introduction to a topic, with a short and long piece of text.

_This component **should not** become some grand layout element. It has no heading and no greater semantic meaning beyond a short introduction that is part of soemthing greater._

Markup: c-intro.twig

Styleguide Components.Intro
*/
.c-intro {
    /* Remove _vertical_ layout spacing */
    /* FAQ: The intro is meant to be a part of some greater layout,
            which may have horizontal spacing requirements */
    margin-top: 0;
    margin-bottom: 0;
}
.c-intro__major {
    font-size: var(--global-font-size--normal);
}
.c-intro__minor {
    font-size: var(--global-font-size--small);
}
