<main class="c-sample" id="c-notice">
  <section>
    <p class="c-notice {{ modifier_class }}">Something happenned.</p>
  </section>
  <section>
    <aside class="c-notice {{ modifier_class }}">
      <strong class="c-notice__title">Woah, Cowboy!</strong>
      <p class="c-notice__message">Interesting fact is told to you, here.</p>
      <p class="c-notice__message">Did you know that?</p>
    </aside>
  </section>
</main>