/*
Headings

Styleguide Elements.ContentSectioning.Headings
*/
/* TODO: Uncomment as selectors become relevant */

h1 {
  font-size: var(--global-font-size--x-large);
  font-weight: normal;
}
/* h1 + h1 { margin-block-end: var(--env-space--normal); } */

h2 {
  font-size: var(--global-font-size--large);
}
/* h2 + h2 { margin-block-end: var(--env-space--small); } */

h3 {
  font-size: var(--global-font-size--normal);
  font-weight: normal;
}
/* h3 + h3 { margin-block-end: var(--env-space--x-small); } */

/*
h4 {
  font-size: var(--global-font-size--normal);
}
h4 + h4 { margin-block-end: var(--env-space--x-small); }

h5 {
  font-size: var(--global-font-size--small);
  font-weight: normal;
}
h5 + h5 { margin-block-end: var(--env-space--xx-small); }

h6 {
  font-size: var(--global-font-size--small);
}
h6 + h6 { margin-block-end: var(--env-space--xx-small); }
*/