<main class="c-sample" id="d-elements--content-sectioning--headings">
    <section>
        <h1>Animalia</h1>
        <h2>Mollusca</h2>
        <h3>Cephalopoda</h3>
        <h4>Octopoda</h4>
        <h5>Octopodoidea</h5>
        <h6>Octopodidae</h6>
    </section>
</main>