/*
Forms

A number of elements which, together, create forms.

Reference:

- [MDN: HTML element reference: Forms](https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Forms)

Styleguide Elements.Form
*/

fieldset {
    border: var(--global-layout--border-width) var(--global-layout--border-style) var(--global-color-text--normal);
    padding: var(--env-space--small);
    margin: var(--env-space--small) 0;
}
