<main class="c-sample" id="d-elements--inline-text">
  <section>
    <ul>
      <li><a href="http://example.com" title="A Real Example Website">Example Link to Example Website</a></li>
      <li><s>some outdated item</s></li>
    </ul>
  </section>
</main>