<main class="c-sample" id="d-elements--text-content--lists">
  <ul>
    <li>Apple</li>
    <li>Banana</li>
    <li>Cranberry</li>
    <li>Durain</li>
  </ul>
  <ol>
    <li>Atoms</li>
    <li>Molecules</li>
    <li>Organisms</li>
    <li>Templates</li>
    <li>Pages</li>
  </ol>
  <dl>
    <dt>Batman</dt>
    <dd>Man with bat powers</dd>
    <dt>Spiderman</dt>
    <dd>Man with spider powers</dd>
    <dt>Superman</dt>
    <dd>Man with super powers</dd>
    <dt>Ironman</dt>
    <dd>Man with iron powers</dd>
  </dl>
</main>