/*
Miscellaneous

Styleguide Elements.TextContent.Misc
*/

:root {
  --e-text-misc--blockquote-indent-width: var(--env-space--normal);
  --e-text-misc--blockquote-border-width: var(--global-layout--border-width);
}
p,
blockquote,
blockquote footer {
  margin-top: var(--env-space--normal);
  margin-bottom: var(--env-space--normal);
}
blockquote {
  margin-left: calc(
    var(--env-space--x-large)
    - var(--e-text-misc--blockquote-indent-width)
    - var(--e-text-misc--blockquote-border-width)
  );
  margin-right: var(--env-space--x-large);

  padding-left: var(--e-text-misc--blockquote-indent-width);
  border-left: var(--e-text-misc--blockquote-border-width) var(--global-layout--border-style) var(--global-color-text--normal);
}

/* For medium screens, no superfluous space */
@media screen and (max-width: 579px) {
  blockquote {
    margin-left: 0;
    margin-right:0;
  }
}
blockquote cite {
  opacity: 0.7;
}
/* NOTE: If app is translated, the `content` value must change for certain langauges */
blockquote cite::before { content: "("; margin-left: 0.5ch; }
blockquote cite::after { content: ")"; margin-right: 0.5ch; }
blockquote footer::before {
  content: "—";
  margin-right: 0.5ch;
}