/*
App

A flexible application layout.

Markup: o-app.twig

Styleguide Objects.App
*/
[class*="o-app__"] {
  margin: var(--o-app-space--normal);
  padding: 0 var(--o-app-space--small);
}

.o-app__body,
.o-app__side {
  /* FAQ: Allow `width` to be set with intuitive results */
  box-sizing: content-box;
}
/* CAVEAT: To support these children, consider CSS grid layout */
.o-app__side {
  display: none;
}

/* Nested `.o-app`'s should not have horizontal padding */
.o-app .o-app [class*="o-app__"] {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
