<main class="c-sample" id="o-app">
  <section class="c-sample__block">
    <div class="o-app">
      <!-- CAVEAT:  The core implementations hide unsupported child elements.
                    For complex layouts, use CSS grid instead of flexbox. -->
      <header class="c-sample__block o-app__head">I am the header.</header>
      <nav class="c-sample__block o-app__side">I am a "start" sidebar.</nav>
      <section class="c-sample__block o-app__body">I am the main body.</section>
      <nav class="c-sample__block o-app__side">I am an "end" sidebar.</nav>
      <footer class="c-sample__block o-app__foot">I am the footer.</footer>
    </div>
  </section>
</main>