/*
Non-Tag

These styles are applied to elements independently of the elements' tag.
- `help` cursor for elements with `title` attribute
- disable `disabled` elements even more (visually and functionally)
- style focused elements
- style text selection

Weight: 0

Styleguide Generics.NonTag
*/

[title] {
  cursor: help;
}
/* For low-accuracy pointer or no pointer */
@media (pointer: coarse), (pointer: none) {
  [title]:after {
    content: " (" attr(title) ")";
  }
}

:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

:focus {
  outline-width: var(--global-layout--border-width--thick);
  outline-style: double;
  outline-color: var(--global-color-accent);
  outline-offset: calc( var(--global-layout--border-width--thick) / 2);
}

::selection {
  background: var(--global-color-accent);
  color: var(--global-color-accent--xxx-light);
}
