/*
Sectioning Root: `body`

The content of an HTML document. These styles cascade to affect most elements.

Reference:

- [MDN: HTML element reference: Main root](https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Sectioning_root)

Weight: 1.5

Styleguide Generics.SectioningRoot
*/
body {
  margin: 0;

  background-color: var(--global-color-bkgd--normal);
  color: var(--global-color-text--normal);
  font: var(--global-font-size--normal)/var(--global-layout--line-height) var(--global-font-family--primary);
}
