/*
Main Root (i.e. HTML)

The root (top-level element) of an HTML document. These styles affect most elements.
- Make 1 `rem` equal 10 `px`, so we can use pixel value with rem unit.

Reference:

- [MDN: HTML element reference: Main root](https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Main_root)

Weight: 1

Styleguide Core.Generics.MainRoot
*/
html {
  /* FAQ: Makes `1.0rem` equal `10px` */
  /* SEE: http://snook.ca/archives/html_and_css/font-size-with-rem */
  font-size: 62.5%;
}

body {
  margin: 0;

  background-color: var(--global-color-bkgd--normal);
  color: var(--global-color-text--normal);
  font-size: var(--global-font-size--normal);
  /* RFE: Design the page */
  /* NOTE: If you style the page much more,
           then you will start wearing your designer hat,
           fall down a colorful rabbit hole and never return. */
  font-family: Georgia, serif;
}
