#
# This file tells Git which directories and files to ignore.
#
# SEE: [Git: `.gitignore`](https://git-scm.com/docs/gitignore)
#

#
# Compiled Assets
# These directories contain the compilations of source files
#

# Final location for compiled files
/docs
